<h2>Login</h2>

<%= form_tag(sessions_path, method: "post", class: "form-horizontal") do %>

  <div class="control-group">
    <%= label_tag(:email, "E-mail", class: "control-label") %>
    <p class="controls"><%= text_field_tag :email, nil, class: "input-xxlarge" %></p>
  </div>

  <div class="control-group">
    <%= label_tag(:password, "Senha", class: "control-label") %>
    <p class="controls"><%= password_field_tag :password, nil, class: "input-xlarge" %></p>
  </div>

  <div class="form-actions">
    <%= submit_tag "Acessar", class: "btn btn-primary btn-large" %>
    <%= link_to "Voltar", root_path, class: "btn btn-inverse btn-large" %>
  </div>
<% end %>
