<h2>Login</h2>
<br />

<div class="row">
  <div class="span5">

    <%= form_tag(sessions_path, method: "post", class: "form-horizontal") do %>

      <div class="control-group">
        <%= label_tag(:email, "E-mail", class: "control-label") %>
        <p class="controls"><%= text_field_tag :email, nil, class: "input-xlarge" %></p>
      </div>

      <div class="control-group">
        <%= label_tag(:password, "Senha", class: "control-label") %>
        <p class="controls"><%= password_field_tag :password, nil, class: "input-xlarge" %></p>
      </div>

      <div class="form-actions">
        <%= submit_tag "Acessar", class: "btn btn-primary btn-large" %>
        <%= link_to "Voltar", root_path, class: "btn btn-inverse btn-large" %>
      </div>
    <% end %>
  </div>

  <div class="span5">
    <a id="twitter"  href="/auth/twitter"><%= image_tag "twitter.png" %></a>
    <a id="github"  href="/auth/github"><%= image_tag "github.png" %></a>
    <a id="facebook" href="/auth/facebook"><%= image_tag "facebook.png" %></a>
  </div>

</div>
