<div class="row">

  <div class="span4">
    <h2>Meus dados</h2>

    <%= form_for @user do |f| %>
      <%= f.hidden_field :id %>

      <%= f.label :name, class: "control-label" %>
      <p class="controls"><%= f.text_field :name %></p>
      <%= errors_for @user.errors[:name] %>

      <%= f.label :email, class: "control-label" %>
      <p class="controls"><%= f.text_field :email %></p>
      <%= errors_for @user.errors[:email] %>

      <p class="controls">
      <%= link_to "Trocar senha", password_path, class: "label" %>
      </p>

      <%= f.submit "Salvar", class: "btn btn-primary btn-large" %>
      <%= link_to "Cancelar", root_path, class: "btn btn-inverse btn-large" %>
    <% end %>
  </div>

  <div class="span5">
    <h2>Meus perfis</h2>
    <ul id="providers" class="nav nav-tabs nav-stacked">
      <li id="twitter">
        <%= render "social/connect", user_providers: @user_providers, provider: "twitter" %>
      </li>
      <li id="github">
        <%= render "social/connect", user_providers: @user_providers, provider: "github" %>
      </li>
      <li id="facebook">
        <%= render "social/connect", user_providers: @user_providers, provider: "facebook" %>
      </li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="span10">
    <h2>Meus dojos</h2>
    <% if @user.dojos.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Dia e horário - Local</th>
          </tr>
        </thead>

        <tbody>
          <% @user.dojos.each do |dojo| %>
            <tr>
              <td><%= link_to dojo, dojo_path(dojo) %></td>
              <td><%= link_to "Editar", edit_dojo_path(dojo), class:"label" %></td>
              <td><%= link_to "Excluir", dojo_path(dojo), 
                confirm: "Deseja realmente excluir?", 
                method: :delete,
                class: "label label-important" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
      <p class="well">Você não tem dojos cadastrados :-(</p>
    <% end %>

    <%= link_to "Novo dojo", new_dojo_path, class: "btn btn-primary" %>
  </div>
</div>
