<div class="row">
  <div class="span4">
    <h2><%= t('users.edit.data') %></h2>

    <%= form_for @user do |f| %>
      <%= f.label :name, class: "control-label" %>
      <p class="controls"><%= f.text_field :name %></p>
      <%= errors_for @user.errors[:name] %>

      <%= f.label :email, class: "control-label" %>
      <p class="controls"><%= f.text_field :email %></p>
      <%= errors_for @user.errors[:email] %>

      <p class="controls">
      <%= link_to t('users.edit.change_password'), password_path, class: "label" %>
      </p>

      <%= f.submit t('general.buttons.save'), class: "btn btn-primary btn-large" %>
      <%= link_to t('general.buttons.cancel'), root_path, class: "btn btn-inverse btn-large" %>
    <% end %>
  </div>

  <div class="span5">
    <h2><%= t('users.edit.profiles') %></h2>

    <ul id="providers" class="nav nav-tabs nav-stacked">
      <li id="twitter">
        <%= render "social/connect", user_providers: @user_providers, provider: "twitter" %>
      </li>
      <li id="github">
        <%= render "social/connect", user_providers: @user_providers, provider: "github" %>
      </li>
      <li id="facebook">
        <%= render "social/connect", user_providers: @user_providers, provider: "facebook" %>
      </li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="span10">
    <h2><%= t('users.edit.dojos') %></h2>

    <% if @user.dojos.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th><%= Dojo.human_attribute_name(:day) %></th>
            <th><%= Dojo.human_attribute_name(:local) %></th>
            <th><%= Dojo.human_attribute_name(:private) %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @user.dojos.each do |dojo| %>
            <tr>
              <td><%= l dojo.day %></td>
              <td><%= dojo.local %></td>
              <td><%= t("dojos.private_#{dojo.private?}") %></td>
              <td>
                <%= link_to t('general.buttons.show'), dojo_path(dojo), class:"label label-info" %>
                <%= link_to t('general.buttons.edit'), edit_dojo_path(dojo), class:"label" %>
                <%= link_to t('general.buttons.delete'), dojo_path(dojo), method: :delete,
                      data: { confirm: t('general.confirmations.delete') }, 
                      class: "label label-important" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
      <p class="well"><%= t('users.edit.without_dojos') %></p>
    <% end %>

    <%= link_to t('users.edit.new_dojo'), new_dojo_path, class: "btn btn-primary" %>
  </div>
</div>
