<h2>Trocar senha</h2>

<%= form_for(@user, method: "put", url: { action: "change_password" } ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.messages.each_value do |messages| %>
        <% messages.each do |value| %>
        <li><%= value %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag(:user_password, "Senha nova") %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= label_tag(:user_password_confirmation, "Confirmação de senha") %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar' %>
    <%= link_to 'Cancelar', root_path %>
  </div>
<% end %>
