<section class="span5 well well-small">
  <h2><%= t('home.index.next_coding_dojos') %></h2>

  <% if @dojos.any? %>
    <ul id="dojos">
      <% @dojos.each do |dojo| %>
        <li><%= link_to dojo, dojo_path(dojo) %></li>
      <% end %>
    </ul>
    <%= link_to t('home.index.show_all'), dojos_path, class: "btn btn-primary btn-large btn-block" %>
  <% else %>
    <p class="lead"><%= t('home.index.without_dojos') %></p>
  <% end %>
</section>

<section class="span4">
  <h3><%= t('home.index.about_title') %></h3>
  <p><%= t('home.index.about_message') %></p>
  <p><%= t('home.index.contact_html') %></p>
</section>

<section class="span10">
  <h3><%= t('home.index.what_is_a_dojo_title') %></h3>

  <blockquote class="pull-right">
    <%= t('home.index.what_is_a_dojo_text') %>
    <small><%= t('home.index.what_is_a_dojo_link_html') %></small>
  </blockquote>
</section>
