<% if user_providers.include?(provider) %>
  <a href="#<%= provider %>">
    <%= image_tag "#{provider}.png" %> <%= t('social.connect.connected') %>
  </a>
<% else %>
  <a href="/auth/<%= provider %>">
    <%= image_tag "#{provider}.png" %> <%= t('social.connect.link') %>
  </a>
<% end %>
