<%= form_for @dojo, html: { class: "form-horizontal" } do |f| %>
  <% if @dojo.errors.any? %>
    <div class="alert alert-error">
      <%= f.error_messages %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :day, class: "control-label" %>
    <p class="controls">
      <%= f.text_field :day, value: (l @dojo.day if @dojo.day), class: "input-medium datetime" %>
    </p>
  </div>

  <div class="control-group">
    <%= f.label :local, class: "control-label" %>
    <p class="controls"><%= f.text_field :local, class: "input-xxlarge" %></p>
  </div>

  <div class="control-group">
    <%= f.label :gmaps_link, class: "control-label" %>
    <p class="controls"><%= f.text_field :gmaps_link, class: "input-xxlarge" %></p>
  </div>

  <div class="control-group">
    <%= f.label :info, class: "control-label" %>
    <p class="controls"><%= f.text_area :info, size: "x5", class: "text_area input-xxlarge" %></p>
  </div>

  <div class="control-group">
    <%= f.label :private, class: "control-label" %>
    <p class="controls"><%= f.check_box :private %></p>
  </div>

  <p class="form-actions">
    <%= f.submit t('general.buttons.save'), class: "btn btn-primary btn-large" %>
    <%= link_to t('general.buttons.cancel'), root_path, class: "btn btn-inverse btn-large" %>
  </p>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'jquery.datetime' %>
<% end %>
