<%= form_for @dojo, html: { class: "form-horizontal" } do |f| %>
  <% if @dojo.errors.any? %>
    <div class="alert alert-error">
      <%= f.error_messages %>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="control-group">
    <%= f.label :day, class: "control-label" %>
    <p class="controls">
      <%= f.text_field :day, 
          value: @dojo.try(:day).try(:strftime,"%d/%m/%Y %H:%M"), 
          class: "input-medium" %>
    </p>
  </div>

  <div class="control-group">
    <%= f.label :local, class: "control-label" %>
    <p class="controls"><%= f.text_field :local, class: "input-xxlarge" %></p>
  </div>

  <div class="control-group">
    <%= f.label :gmaps_link, class: "control-label" %>
    <p class="controls"><%= f.text_field :gmaps_link, class: "input-xxlarge" %></p>
  </div>

  <div class="control-group">
    <%= f.label :info, class: "control-label" %>
    <p class="controls"><%= f.text_area :info, size: "x5", class: "text_area input-xxlarge" %></p>
  </div>

  <p class="form-actions">
    <%= f.submit "Salvar", class: "btn btn-primary btn-large" %>
    <%= link_to 'Cancelar', root_path, class: "btn btn-inverse btn-large" %>
  </p>
<% end %>
