<%= form_for(@dojo) do |f| %>
  <% if @dojo.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @dojo.errors.messages.each_value do |messages| %>
        <% messages.each do |value| %>
        <li><%= value %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :local %><br />
    <%= f.text_field :local %>
  </div>

  <div class="field">
    <%= label_tag(:dojo_day, "Dia") %><br />
    <%= f.text_field :day %>
  </div>

  <div class="field">
    <%= label_tag(:dojo_limit_people, "Limite de participantes") %><br />
    <%= f.text_field :limit_people %>
  </div>

  <div class="field">
    <%= label_tag(:dojo_address, "Endereço") %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= label_tag(:dojo_city, "Cidade") %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= label_tag(:dojo_info, "Outras informações") %><br />
    <%= f.text_area :info, size: "34x10" %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
