<table class="table table-condensed">
  <caption>
    <h2><%= title %></h2>
  </caption>

  <thead>
    <tr>
      <th><%= Dojo.human_attribute_name(:day) %></th>
      <th><%= Dojo.human_attribute_name(:local) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dojos.each do |dojo| %>
      <tr>
        <td><%= l dojo.day %></td>
        <td><%= dojo.local %></td>
        <td><%= link_to t('general.buttons.details'),dojo_path(dojo), class: "badge badge-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
