<table class="table table-striped">
  <caption>
    <h2>Próximos dojos</h2>
  </caption>

  <thead>
    <tr>
      <th>Local</th>
      <th>Cidade</th>
      <th>Dia</th>
      <th>Limite de Pessoas</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dojos.each do |dojo| %>
      <tr>
        <td><%= dojo.local.name %></td>
        <td><%= dojo.local.city %></td>
        <td><%= dojo.day %></td>
        <td><%= dojo.limit_people %></td>
        <td><%= link_to "Detalhes",dojo_path(dojo) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo", new_dojo_path, class: "btn" %>
