<h2><%= @dojo %></h2>

<div class="row">
  <div class="span3">
    <strong>Compartilhar</strong>
    <br/>

    <% url = dojo_url(@dojo) %>
    
    <!-- Facebook -->
    <iframe src="//www.facebook.com/plugins/like.php?href=<%= url %>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;localte=pt_BR" 
      scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>

    <!-- Twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Dojo, onde? <%=@dojo %> -> <%=url %>" data-via="dojoonde">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <p>
      <strong>Quem cadastrou?</strong><br />
      <%= @dojo.user.name %>
    </p>
    
    <p>
      <strong>Outras informações:</strong><br />
      <%= @dojo.info.gsub(/\n/,"<br />").html_safe %>
    </p>
  </div>

  <div class="span7">
    <iframe height="350" width="100%" frameborder="0" marginheight="0" marginwidth="0"
            src="<%= @dojo.gmaps_link.html_safe %>&output=embed">
    </iframe>
    <p>
      <a href="<%= @dojo.gmaps_link.html_safe %>" target="_blank">
        Caso não consiga visualizar o mapa acima, clique neste
        link e veja diretamente no Google Maps.
      </a>
    </p>
  </div>
</div>

<% if @dojo.retrospective && @dojo.retrospective.not_empty? %>
  <%= render partial: "retrospectives/show", locals: { retrospective: @dojo.retrospective } %>
<% end %>

<br/><br/>

<div id="disqus_thread"></div>

<script type="text/javascript">
  var disqus_shortname = 'dojoonde';
  var disqus_url = '<%= dojo_url(@dojo) %>';

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<%= link_to 'Voltar', dojos_path, class: "btn btn-large" %>
