<p id="notice"><%= notice %></p>

<h2>Dojo <%= @dojo.local %></h2>
<p>
  <b>Local:</b>
  <%= @dojo.local %>
</p>
<p>
  <b>Dia:</b>
  <%= @dojo.day %>
</p>
<p>
  <b>Limite de participantes:</b>
  <%= @dojo.limit_people %>
</p>
<p>
  <b>Endereço:</b>
  <%= @dojo.address %>
</p>
<p>
  <b>Cidade:</b>
  <%= @dojo.city %>
</p>
<p>
  <b>Informações:</b><br />
  <%= @dojo.info %>
</p>
<%= link_to 'Voltar', dojos_path %>
