<p id="notice"><%= notice %></p>

<h2 class="page-header">Dojo <%= @dojo.local %></h2>

<div class="row">
  <div class="span3">
    <p>
    <strong>Local:</strong><br />
    <%= @dojo.local %>
    </p>

    <p>
    <strong>Dia:</strong><br />
    <%= @dojo.day %>
    </p>

    <p>
    <strong>Outras informações:</strong><br />
    <%= @dojo.info %>
    </p>
  </div>

  <iframe class="span7" height="350" frameborder="0" 
          marginheight="0" marginwidth="0" src="<%= @dojo.gmaps_link.html_safe %>&output=embed">
  </iframe>
</div>

<%= link_to 'Voltar', dojos_path, class: "btn" %>
