<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Dojo, aonde?</title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "metro-bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    params[:controller] %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

  <div class="row">
    <div class="span6 pull-left">
      <header>
        <h1><%= link_to "Dojo, aonde?", root_path %></h1>
      </header>
    </div>

    <div id="welcome" class="span3 pull-right">
      <% if current_user %>
        Bem vindo <%= link_to current_user.name, edit_user_path(current_user) %>
        <i class="icon-user"></i>
        <br />
        <%= link_to "Sair", logout_path %>
      <% else %>
        <%= link_to "Acesse", login_path %>
        ou
        <%= link_to "Registre-se", signup_path %>
      <% end %>
    </div>
  </div>

  <div class="navbar">
    <div class="navbar-inner">
      <nav>
        <ul class="nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Novo', new_dojo_path %></li>
          <li><%= link_to 'Próximos', dojos_path %></li>
          <li><%= link_to 'Já aconteceram', '/dojos/aconteceram' %></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="span10">

      <% if flash[:notice] %>
        <p class="alert alert-info"><%= notice %></p>
      <% elsif flash[:alert] %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <div class="row">
    <div class="span10">
      <footer>
        <hr />
        Desenvolvido e mantido por <a href="http://herculesdev.com.br/" target="_blank">HerculesDev</a>.
        Gostaria de contribuir? Fique a vontade e faça um fork no <a href="https://github.com/hlmerscher/dojo-aonde" target="_blank">Github</a>.
      </footer>
    </div>
  </div>

</body>
</html>
